window {
  margin: 5px;
  border-radius: 30px;
  border: 0px solid #444444;
  background-image: url('file:///home/tai/.config/wofi/images/wofi-bg-cropped-2.jpg');
  font-family: PlusJakartaSans;
  letter-spacing: 1px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@keyframes erscheinen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#input {
  background-color: #0a2a66;
  margin: 220px 60px 60px 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  color: #fdf6e3;
  font-size: 20px;
  /* margin-top: 40px; */
  border: 1px solid #0a2a66;
}

#inner-box {
  /* margin-top: 30px; */
  margin-bottom: 30px;
  margin-left: 60px;
  margin-right: 60px;
  /* padding-bottom: 60px; */
  /* margin-bottom: 60px; */
  /* background-color: #071d47; */

  /* margin-top: 30px; */
  /* margin: 0px; */
  /* border: 0px solid #444444; */
  /* background-color: #0b2534; */
  /* background-color: rgba(68, 68, 68, 0.0); */
}

/* #inner-box flowboxchild:nth-child(even) { */
/*     background-color: #555555; */
/* } */

#outer-box {
  margin: 0px;
  /* border: 0px solid rgb(203, 75, 22); */
  /* border: 3px solid yellow; */
  /* background-color: rgba(0, 0, 0, 0); */
}

#img {
  visibility: hidden;
}

#scroll {
  /* background-color: red; */
  /* margin: 30px; */
  /* border: 5px solid #1Affff; */
  border-radius: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: rgba(7, 54, 66, 0.9); */
  /* animation: erscheinen 0.3s linear; */
  /* padding-bottom: 50px; */
}

#text {
  /* margin-top: 1px; */
  margin: 1px 0 1px 15px;
  /* margin: 1px; */
  /* border: 2px solid #44aa44; */
  /* background-color: #444444; */
  color: #ffffff;
  background-color: none;
}

#entry {
  padding: 8px 6px;
  font-size: 20px;
  /* margin-left: 60px; */
  /* margin-right: 60px; */
  /* border-radius: 30px; */
  outline-style: none;
  /* padding-left: 15px; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* background-color: red; */
  /* outline: none; */
}

#entry:selected {
  /* padding: 8px 6px; */
  border-radius: 40px;
  /* padding: 0px 4px; */
  /* padding-top: 6px; */
  /* padding-bottom: px; */
  /* outline-style: none; */
  background-color: #3656b8;

}


/* expander > .entry > image {} */

/* window { */
/*   margin: 0px; */
/*   border: 5px solid #f5c2e7; */
/*   background-color: #f5c2e7; */
/*   border-radius: 15px; */
/* } */
/**/
/* #input { */
/*   padding: 4px; */
/*   margin: 4px; */
/*   padding-left: 20px; */
/*   border: none; */
/*   color: #fff; */
/*   font-weight: bold; */
/*   background-color: #fff; */
/*   background: linear-gradient(90deg, rgba(203,166,247,1) 0%, rgba(245,194,231,1) 100%); */
/*   outline: none; */
/*   border-radius: 15px; */
/*   margin: 10px; */
/*   margin-bottom: 2px; */
/* } */
/* #input:focus { */
/*   border: 0px solid #fff; */
/*   margin-bottom: 0px; */
/* } */
/**/
/* #inner-box { */
/*   margin: 4px; */
/*   border: 10px solid #fff; */
/*   color: #cba6f7; */
/*   font-weight: bold; */
/*   background-color: #fff; */
/*   border-radius: 15px; */
/* } */
/**/
/* #outer-box { */
/*   margin: 0px; */
/*   border: none; */
/*   border-radius: 15px; */
/*   background-color: #fff; */
/* } */
/**/
/* #scroll { */
/*   margin-top: 5px; */
/*   border: none; */
/*   border-radius: 15px; */
/*   margin-bottom: 5px; */
/*   background: rgb(255,255,255); */
/* } */
/**/
/* #text:selected { */
/*   color: #fff; */
/*   margin: 0px 0px; */
/*   border: none; */
/*   border-radius: 15px; */
/* } */
/**/
/* #entry { */
/*   margin: 0px 0px; */
/*   border: none; */
/*   border-radius: 15px; */
/*   background-color: transparent; */
/* } */
/**/
/* #entry:selected { */
/*   margin: 0px 0px; */
/*   border: none; */
/*   border-radius: 15px; */
/*   background: linear-gradient(45deg, rgba(203,166,247,1) 30%, rgba(245,194,231,1) 100%); */
/* } */
